<mat-toolbar color="primary">
  <div class="displayFlex">
    <button mat-raised-button routerLink="/about" routerLinkActive="active" color="primary" title="About FlipCart">
      <i>FlipCart</i>
      <mat-icon>book</mat-icon></button>
    <input class="searchInput" matInput type="text" placeholder="search your products here">
    <button mat-raised-button routerLink="/categories" routerLinkActive="active" color="primary">categories</button>
    <button mat-raised-button routerLink="/cart" routerLinkActive="active"  color="primary"><mat-icon>share</mat-icon>Cart</button>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/registration" routerLinkActive="active"><mat-icon>person</mat-icon>Sign-Up</button>
  </div>

</mat-toolbar>
